.search-icon{
    padding: 15px;
    background-color: #06283D;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background 300ms ease-in-out;
}
.search-icon i{
    font-size: 20px;
    color: white;
}
.search-icon:hover{
    background-color: #1b2d3d;
}