.search-container button{
    color: white;
    font-size: 1.7rem;
    background-color: #083957;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 15px;
}
.search-container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 10px;
}
.search-container input{
    width: 100%;
    font-size: 20px;
    padding: 0 15px;
    border: none;
    outline: none;
}