.movie-title{
  font-family: "Staatliches", cursive;
}
html{
  scroll-behavior: smooth;
}
*{
  font-smooth: always;
}
.fof{
  display: grid;
  place-items: center;
  min-height: 90vh;
}
.fof img{
  max-width: 400px;
}
.notFound{
  overflow: hidden;
}